.debug {
  /*outline: 1px solid red;*/
}

.header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  width: 100%;
  z-index: 3;
  margin: 0;
  padding-top: 5px;
  padding-left: 2em;
}

.main {
  margin: 0 10%;
}

.container-fluid {
  float: right;
}

.main {
  color: #767676;
  font-size: .9em;
}

.row {
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px
}

body {
  background-color: #F1F1F1;
}

.title {
  margin-top: -5px;
  color: #167ac6;
}


.date>li {
  display: inline;
}

.author {
  margin-top: -9px;
  margin-bottom: -9px;
  display: inline-flex;
}

li.dot {
  margin: 0 10px;
}

img {
  width: 100%;
}

.youtube-logo {
  width: 79.99px;
  height: 37px;
}

.logo-container {
  width: 20em;
  float: left;
  padding-top: .3em;
  margin-bottom: .8em;
}

.search {
  width: 100%;
  display: inline;
}

.navbar-form
.form-group {
  width: 100%;
}

.nav {
  overflow-y: scroll;
}

.menu {
  display: none;
  z-index: 2;
  position: fixed;
  background: white;
  width: 15%;
  padding: 1.2em;
  padding-left: 2em;
  height: 100%;
}


.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.guide-container {
  width: 230px;
  /*padding: 13px 22px;*/
  background: #FFFFFF;
  position: absolute;
  z-index: 2;
}


.nav>li>a {
  padding: 6px 20px;
}

.single-project {
  margin-bottom: 10px;
}


.form-control {
  border-radius: 0;
  width: 100%;
}


.middle-column {
  background: #fff;
}

.small-check {
  width: 35px;
  background: transparent;
  margin-bottom: 4px;
  margin-top: -2px;
}

.subscribe {
  height: 21px;
  border-radius: 0px;
  color: black;
  top: -3px;
}

/*
COLOR
*/

.dark-g {
  color: #333;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #cc181e;
}

a {
  color: #222;
}

.nav-pills>li>a:hover {
  background-color: #444;
  color: #fff;
}

.p-main-img {
/*  width: 100%x;
  height: 360px;*/
  opacity: 1;
  /*padding-left:20em;*/
}

.p-main-r-img {
  width: 120px;
}

.p-main-title {
  min-height: 150px;
  padding-bottom: 5px;
}


.pt-list {
  color: #333;
  font-size: 13px;
  font-weight: 500;
  padding: 2%;
}

.wbg {
  background-color: white;
  padding: 1% 8%;
}


.no-p {
  padding: clear;
}

.underline {
  /*border-bottom: 2px solid #b00;*/
  padding-bottom: 10px;
  margin-bottom: 1em;
}

.underline:before {
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid red;
}


.list {
  list-style: none;
  line-height: 0em;
  font-weight: 500;
}

.img-sm {
  width: 32%;
}

.inline {
  display: inline;
}

.pad {
  padding: 0 1%;
}

.space {
  padding-top: 10px solid red;
  height: 10px;
  background-color: red;
}

.f-list>li {
  list-style: none;
  display: inline;
  font-weight: 500;
  font-size: 15px;
  color: #333;
  margin: 0 2% 0 0;
}

.f-s-list>li{
  list-style: none;
  display: inline;
  font-weight: 500;
  margin: 0 2% 0 0;
  padding-bottom: 4em;
}

.f-s-list {
  margin-top: 1%;
}

.mid-content {
  margin: 2% auto;
  padding: 1% 2%;
  color: #333;
}

.gray {
  background-color: gray;
}

.crop>img {
  height: 320px;
  width: 100%;
}

@media (min-width: 768px)
.col-sm-9-max {
  width: 100%;
}

.white {
  background-color: white;
}

.center {
  margin: auto;
  width: 30%;
}

.m-s {
  margin: 1em auto;
}

.m-xs { margin-top: -1em; }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.pd-m { padding: 2em 2em 2em 5em;}

.pd-b-s { padding-bottom: 1em;}


@media (min-width: 768px)
.form-control {
    display: inline-block;
    width: 100%;
}

.m-r { margin-right: 10px; }

.w { width: 100%;}
.w-m { width: 60%; }
.w-sm { width: 20px; }
.w-xxs { width: 14px; }

.fl-l { float: left; }
.fl-r { float: right; }

.p-sm { padding: 1em; }
.p-right { padding-right: 2em;}
.p-right-s { padding-right: 1em;}
.p-left-s { padding-left: 1em;}


.img-xxs { width: 100px; }

.lh-s { line-height: 2em; }
.lh-xs { line-height: 1.8em; }

.font-w-t { font-weight: 700;}

.font-s-m { font-size: 1.2em; }

.light-gray { background: #f8f8f8; }
.brd-light { border-color: #d3d3d3; }

.red-t {
  color: #cc181e;
  font-size: 12px;
  font-weight: 500; }

.subscribe {
  width: 100px;
  height: 25px;
}

.bright-red {
  background-color: #cc181e;
}

.font-white {
  color: white;
}

.desc {
  font-size: 1.2em;
}

.show-more {
  color: #767676;
  font-size: 1em;
  margin: auto 40%;
}

.autoplay {
  color: #767676;
  font-weight: 600;
}

.small-desc {
  margin: 0;
  padding: 0;
  border: 0;
}

.p-b-sm {
  padding-bottom: 20px;
}

.sub-no {
  padding: 5px 10px;
  border-color: #767676;
}