<!-- partial for big image go here -->
<!-- <div ui-view="default-portfolio"></div>
              <div ui-view="list-portfolio"></div> -->
<div class="row m-xs debug">
  <div class="middle-column">
    <div class="col-sm-8">
      <div ui-view></div>
    </div>
    <div class="col-sm-4 white debug">
      <div class="clearfix debug">
        <p class="pt-list fl-l debug">Up Next</p>
        <p class="pt-list fl-r autoplay debug">Autoplay</p>
      </div>
      <div ng-repeat="new in news" class="p-b-sm debug">
        <div class="clearfix debug">
          <div class="col-sm-4 debug">
            <a ui-sref="home.portfolio.list({id: new.title})" ng-click="projectid(new.id)" ng-init="projectid(0)"><img ng-src="{{ new.image }}"></a>
          </div>
          <div class="col-sm-8">
            <div class="dark-g font-w-t debug">
              <p clas="debug">{{ new.title }}</p>
            </div>
            <div>
              <p class="small-desc debug">2,000,000 views</p>
              <p class="small-desc debug">Recommended for you</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>